<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="./css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="background-image-part">
        </div>

        <div class="content-part welcome">
            <div class="login-form">
                <div class="login-inputs">
                    <h1>Welcome to Prompt AI</h1>
                    <p class="login-details">Login to continue your journey with Prompt AI</p>

                    <img src="./images/login-logo.png" alt="Logo" class="logo-image">

                    <div class="login-controls">
                        <a href="/login" class="login-button">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="signup-part">
                <p>Don't have an account? <a href="/signup" class="signup-link">Sign up</a></p>
            </div>
        </div>

    </div>

</body>

</html>
